:root {
    --gray-border: #484848;
    --input-black:  #171717;
    --placeHolderColor: #7c7c7c;
}

body {
    background-image: linear-gradient(to right, #18181b, #262626, #18181b);
    color: white;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    margin: 0;
}

html {
    margin: 0;
    font-size: small;
}

#header {
    position: fixed;
    background-image: linear-gradient(to right, #18181b, #262626, #18181b);
    width: 100%;
}

#header-img {
    height: 3.25rem;
}

.logoSection {
    display: flex;
    gap: 10px;
    font-size: 1.4rem !important;
}

.accountSection {
    display: flex;
    gap: 20px;
}

.subOptions {
    color: lightgray;
    gap: 30px;
}

a {
    text-decoration: none;
    color: inherit;
}

#nav-bar {
    display: flex;
    column-gap: 50px;
    grid-template-columns: 1fr 1fr 1fr 1fr 1fr 1fr 1fr;
    justify-content: space-between;
    padding: 20px 160px 20px 100px;
}

.flex-item {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: row;
    text-align: center;
    font-size: 1.2rem;
}

.account-button {
    background-color: #377BD2;
    border-radius: 7.5px;
    height: 45px;
    padding: 0 20px;
}

.innterText {
    display: flex;
    align-items: center;
}

.content {
    display: flex;
    flex-direction: row;
    height: 650px;
    padding: 175px 260px 0px 100px;
    justify-content: space-between;
}

.info {
    display: flex;
    flex-direction: column;
    width: 510px;
}

.title {
    font-size: 4rem;
    font-weight: bold;
    font-family: 'Inter', Times, serif;
    letter-spacing: 0px;
    padding-top: 80px;
    line-height: 1.1;
}

.gradientText {
    background: linear-gradient(to right, #afb8eb, #0daaf3 100%);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}

.description {
    font-size: 1.5rem;
    padding: 50px 0 70px;
    color: lightgray;
}

.exploreButton {
    background-color: #377BD2;
    border-radius: 7.5px;
    height: 60px;
    padding: 0 20px;
}

.signUpSection {
    width: 510px;
    border: var(--gray-border) solid 1px;
    border-radius: 10px;
    padding: 25px;
}

.signUpForm {
    display: flex;
    flex-direction: column;
    gap: 15px;
}

.authOptions {
    display: grid;
    grid-template-columns: auto auto;
    gap: 10px
}

.authOption {
    border: var(--gray-border) solid 1px;
    border-radius: 7.5px;
    background-color: var(--input-black);
    height: 50px;
}

.authOption:hover {
    background-color: #404040;
}

.partition {
    display: grid;
    grid-template-columns: 1.25fr 1fr 1.25fr;
    gap: 10px;
}

.partitionText {
    padding-left: 10px;
}

.InputSection {
    display: flex;
    flex-direction: column;
    gap: 10px;
}

.formInput {
    border: var(--gray-border) solid 1px;
    border-radius: 7.5px;
    background-color: var(--input-black);
    height: 40px;
    color: var(--placeHolderColor);
    padding-left: 15px;
}

hr {
    border-color: var(--gray-border);
}

.sampleButtpn {
    border: none;
    border-radius: 7.5px;
    height: 50px;
    margin-top: 20px;
    background-color: #293fd1;
    color: white;
    width: 100%;
}